{% if site.info.twitter %}
<a href="https://twitter.com/{{ site.info.twitter }}" title="Follow on Twitter" target="_blank"><i class="icon icon-twitter black"></i></a>
{% endif %}
{% if site.info.github %}
<a href="https://github.com/{{ site.info.github }}" title="Watch on Github" target="_blank"><i class="icon icon-github black"></i></a>
{% endif %}
{% if site.info.facebook %}
<a href="http://facebook.com/{{ site.info.facebook }}" title="Like on Facebook" target="_blank"><i class="icon icon-facebook black"></i></a>
{% endif %}
{% if site.info.linkedin %}
<a href="https://www.linkedin.com/in/{{ site.info.linkedin }}" title="Connect on LinkedIn" target="_blank"><i class="icon icon-linkedin black"></i></a>
{% endif %}
<a href="/feed.xml" title="RSS Feed">
    <i class="icon icon-rss black"></i>
</a>
